@import "mixins";
@import "variables";

// General HTML stuff
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font(header), sans-serif;
}

h1 {
    margin-top: 150px;

    @include responsive(lg-down) {
        margin-top: 30px;
    }

    @include responsive(sm-down) {
        margin-top: 50px;
    }
}

p {
    margin: 0;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
}

body {
    font-family: font(body), sans-serif;
    font-size: 18px;
    color: color(font);
}

strong {
    font-weight: 700;
}
// End of general HTML stuff

// Navbar stuff
.logoNav100 {
    height: 100%;
    padding: 5px 0;
}

.logoNav {
    height: 200px;
    transition: height 200ms linear;
    padding: 10px 0;

    &Scrolled {
        padding: 5px 0;
        height: 100%;
    }

    &Side {
        padding: 30px;
        height: 150px;

        a,
        img {
            height: 100% !important;
            padding: 0 !important;

            &:hover {
                background-color: transparent !important;
            }
        }
    }

    @include responsive(lg-down) {
        height: 64px;
        padding: 5px 0;
    }

    @include responsive(md-down) {
        height: 100%;
    }
}

.sidenav {
    background: linear-gradient(180deg, #1a093e 30%, #2f1e52 60%, #4b3676 80%);

    li {
        & > a {
            color: #fff !important;
        }

        & > .colorBtn {
            color: #000 !important;
        }
    }

    li > a:hover,
    nav ul a:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.navbar {
    position: sticky;
    top: 0;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 200ms linear, top 200ms ease-in-out;
    z-index: 998;

    &Scrolled {
        background-color: rgba(39, 22, 72, 0.9);
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
            0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
}
// End of navbar stuff

// Landing section
#landing {
    position: relative;
    z-index: 2;
}

.purpleLanding {
    background-image: url("../../images/purple_landing.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right top;
    padding: 30px 0 50px;
    margin-top: -64px;

    @media only screen and (min-width: 2600px) {
        background-position: left top;
    }

    @include responsive(sm-down) {
        background-image: url("../../images/purple_landing_mobile.svg");
        background-position: center bottom;
        padding: 0 0 220px;
        margin-top: -56px;
    }
}

// Landing section
.landingImg {
    @include flexPosition($jusCon: center);

    img {
        width: 100%;
    }

    @include responsive(sm-down) {
        margin-top: 0;
    }
}
// End of landing section

// "About" section
#about {
    position: relative;
    z-index: 2;

    @include responsive(sm-down) {
        margin-top: -100px;
    }
}

.aboutText p {
    margin: 20px 0;
}

.skylineImg {
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;

    &Days {
        margin-top: 20px;
        font-size: 30px;
    }

    &Num {
        width: 78px;
        height: 129px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 106px;
        text-align: center;
        color: color(font);
        font-family: font(header), sans-serif;
        display: flex;
        flex-direction: column;
        background-color: color(secondary);
        @include flexPosition($dir: column);
        margin: 0 5px;
        padding: 0 !important;
    }

    &WhiteLine {
        position: relative;
        top: 50%;
        width: 100%;
        border: 2px solid color(white);
    }
}

#day1,
#day2,
#day3 {
    margin: -20px 0 0;
}
// End of "About" section

// "Schedule" section
.schedule {
    margin: 10px 0 30px;

    p {
        font-size: 20px;
        margin: 0;
    }

    &Time {
        width: 80px;
    }

    &Row {
        display: flex;
        margin: 10px 0;
    }

    @include responsive(md-down) {
        p {
            font-size: 18px;
        }
        &Time {
            width: 70px;
        }
    }
}
// End of "Schedule" section

// "Sponsors" section
.sponsorImgs {
    margin-top: 50px;

    img {
        height: 100%;
        width: 100%;
        max-height: 150px;
        padding-bottom: 50px;
    }
}
// End of "Sponsors" section

// "Hackathon stats" section
.stat {
    @include flexPosition($alIte: center, $dir: column);

    &-number {
        margin: 10px 0;
        font-weight: 700;
    }

    @include responsive(sm-down) {
        margin-bottom: 25px;
    }
}
// End of "Hackathon stats" section

// "FAQ" section

.collapsible .active {
    // color: inherit;
    color: color(white);
}

.active .collapsible-header {
    font-weight: bold;
}

.collapsible,
.collapsible-body,
.collapsible-header {
    border: none;
    box-shadow: none;
    margin: 0;
}

.collapsible-header {
    background-color: transparent;
    color: color(white);
}

.collapsible-body {
    color: color(light);
}

// End of "FAQ" section

// Video section
.video {
    max-width: 1000px;
    width: 90%;
    height: 557px;

    // iframe heights are static so I have to set the height every time
    @include responsive(lg-down) {
        height: 400px;
    }

    @include responsive(md-down) {
        height: 360px;
    }

    @include responsive(sm-down) {
        height: 250px;
    }

    @include responsive(xs-down) {
        height: 200px;
    }
}
// End of video section

// Past projects section
#past-projects {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    a {
        color: #dad1e9;
    }

    a:hover {
        text-decoration: underline;
    }
}
// End of past projects section

// Carousel section
.carousel {
    height: 333px !important;

    .carousel-item {
        opacity: 1 !important;
        height: 333px !important;

        > img {
            width: auto !important;
            height: 100%;
            transform: translateX(-120px);
        }
    }
}
// End of carousel section

// Footer section
.contactBtns {
    a {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        margin: 10px 15px 20px;

        img {
            height: 100%;
            width: 100%;
            // Manipulate the filter to change the color of the icon.
            // e.g. invert(0) is black and invert(1) is white
            filter: invert(0);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
// End of section

// Colors
.primaryColor {
    background-color: color(primary);
}

.secondaryColor {
    background-color: color(secondary) !important;
}

.primaryText {
    color: color(primary);
}

.secondaryText {
    color: color(secondary);
}

.darkText {
    color: color(font);
}

.lightText {
    color: color(light);
}

.colorBtn {
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
    color: color(font) !important;
    font-family: font(header), sans-serif;
    background-color: color(secondary);

    &:hover,
    &:focus {
        background-color: #d2a300 !important;
    }
}

.redBtn {
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
    color: #f3c7c7 !important;
    background-color: #b40000 !important;

    &:hover {
        background-color: #870000 !important;
    }
}

.active {
    color: color(secondary);
}
// End of colors

// Login stuff
.login {
    &Div {
        display: flex;
        background-color: #fff;
        border-top: solid 10px color(secondary);
        border-radius: 3px 3px 0 0;
        padding: 50px 30px 30px;
        margin: 50px auto 100px;
        max-width: 900px;

        @include responsive(md-down) {
            padding: 40px 15px 30px;
        }

        @include responsive(sm-down) {
            padding-bottom: 20px;
            display: block;
        }

        .landingImg img {
            max-width: 300px;
        }
    }

    &Link {
        display: flex;
        justify-content: center;
        margin: 10px 0 15px;
        font-size: size(md);
        padding: 0 !important;

        i {
            margin-right: 5px;
        }
    }
}

.form {
    &H1 {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 30px;
        color: color(dark);
        font-size: 50px;
    }

    &H2 {
        font-weight: normal;
        color: color(dark);
        font-size: 30px;
        margin: 0 0 15px;
    }

    &H3 {
        font-weight: normal;
        color: color(dark);
        font-size: 24px;
        text-transform: initial;
        margin: 0 0 10px;
    }

    @include responsive(md-down) {
        &H1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        &H2 {
            font-size: 24px;
        }
        &H3 {
            font-size: 20px;
        }
    }

    &Checkbox span {
        color: color(font);
    }

    &FieldError {
        font-size: 12px;
        color: #f44336;
        display: block;
    }

    &Error {
        color: #f44336;
        display: block;
    }

    &AddTopMargin {
        margin-top: 9px;
    }
}

.input-field {
    input:not([type]):focus:not([readonly]) + label,
    input[type="text"]:focus:not([readonly]) + label,
    input[type="password"]:focus:not([readonly]) + label,
    input[type="email"]:focus:not([readonly]) + label,
    input[type="date"]:focus:not([readonly]) + label,
    input[type="tel"]:focus:not([readonly]) + label,
    input[type="number"]:focus:not([readonly]) + label,
    input[type="search"]:focus:not([readonly]) + label,
    textarea.materialize-textarea:focus:not([readonly]) + label {
        color: color(primary);
    }

    input:not([type]):focus:not([readonly]),
    input[type="text"]:focus:not([readonly]),
    input[type="password"]:focus:not([readonly]),
    input[type="email"]:focus:not([readonly]),
    input[type="date"]:focus:not([readonly]),
    input[type="tel"]:focus:not([readonly]),
    input[type="number"]:focus:not([readonly]),
    input[type="search"]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid color(primary);
        -webkit-box-shadow: 0 1px 0 0 color(primary);
        box-shadow: 0 1px 0 0 color(primary);
    }
}
// End of form stuff

// Dashboard stuff
.borderTopDiv {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top: solid 10px color(secondary);
    border-radius: 3px 3px 0 0;
    padding: 40px 30px 30px;
    margin: 20px auto;
    max-width: 950px;
    font-size: size(md);

    @include responsive(sm-down) {
        padding: 25px 20px;
    }
}

.faq {
    &Question {
        font-weight: bold;
        margin: 10px 0 0;
    }

    &Answer {
        margin: 5px 0 20px;
    }
}
// End of dashboard stuff

// Background colors
.ombreBackgroundLight {
    position: relative;
    background: color(secondary);
    background: linear-gradient(
        180deg,
        color(secondary) 25%,
        rgba(230, 186, 98, 1) 40%,
        rgba(139, 83, 102, 1) 60%,
        #3e2c64 85%
    );

    @include responsive(md-down) {
        background: linear-gradient(
            180deg,
            color(secondary) 15%,
            rgba(230, 186, 98, 1) 20%,
            rgba(139, 83, 102, 1) 40%,
            #3e2c64 65%
        );
    }
}

.ombreBackgroundDark1 {
    background: linear-gradient(180deg, color(dark) 40%, #0c0618 90%);
    margin-top: -10px;
}

.ombreBackgroundDark2 {
    background: linear-gradient(180deg, #0d061a 2%, #0a011a 45%);
    margin-top: -10px;
}

.ombreBackgroundDark3 {
    background: linear-gradient(180deg, #271648 60%, #0c0618 90%);
    min-height: 100vh;
}
// End of background colors

// Formatting stuff
.flexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.longText {
    padding-right: 200px;

    @include responsive(sm-down) {
        padding-right: 0;
    }
}

.hoverLink {
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.rowMarginPadding {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.formPadding {
    @include responsive(sm-down) {
        padding: 0 !important;
    }
}

.marginTop0 {
    margin-top: 0 !important;
}
// End of formatting stuff
